.divpopup{background:url('../../../themes/creative1.0/images/Birthday.png') 0 0 no-repeat;width:640px;height:460px;background-color:#F4F9FA;border-radius:5px;box-shadow:0 0 25px 5px hsl(0, 0%, 60%);color:hsl(0, 0%, 0%);display:none;padding:5px;background-size:100%;text-align:center;left:358px;position:absolute;top:43px;z-index:9999;display:block;opacity:1;}
.background{background:hsla(0, 0%, 0%, 0) url('../../../themes/creative1.0/images/happy-birthday-white.gif') 0 0 no-repeat;height:300px;left:100px;opacity:0.77;position:absolute;top:22%;width:448px;background-size:100%;}
.loginregister{display:inline-block;float:left;height:250px;left:15.5%;padding:20px 0;position:absolute;top:19%;width:69%;}
.popimage{display:inline-block;position:relative;text-align:center;width:100%;}
.popimage > img{border-radius:50%;width:100px;height:100px;float:none;}
.loginregister h2{color:#843719;font-size:25px;text-shadow:1px 1px 1px #843719;}
.divpopup h4{margin:12px;color:#CE30F1;font-size:22px;text-shadow:2px 2px 1px hsl(0, 0%, 80%);}
.divpopup h5{color:#843719;font-size:13px;font-weight:500;margin:0 5px 10px;text-shadow:1px 0 0 #843719;}
.b-close{background:#ffffff none repeat scroll 0 0;border:1px solid #843719 !important;border-radius:50%;color:#843719 !important;cursor:pointer;font-size:11px;font-weight:600;margin-right:10px;padding:11px 14px;}
.divclose{float:left;position:absolute;right:-20px;text-align:right;top:-10px;}
.popimage{margin-top:0;}
.box-title{color:hsl(228, 5%, 18%);font-size:19px;font-weight:normal;margin:0 0 5px;text-align:center;}
.popimage h4{color:#f28820;;display:inline-block;font-size:25px;font-weight:500;left:50px;margin:0 5px 10px;right:0;text-shadow:1px 1px 1px #f28820;top:0;width:100%;}
.cake{display:inline-block;float:right;padding:0px !important;position:relative;right:100px;width:auto;}
.cake > img{display:inline-block;width:120px;}
@media screen and (max-width:900px) and (min-width:320px){.divpopup{height:48%;left:11px;width:90%;}
.loginregister{top:13%;left:0px;}
.loginregister h2{font-size:19px;}
.divpopup h4{font-size:16px;margin:4px;}
.divpopup h5{margin:0 0 8px 15px;width:90%;}
.popimage img{width:20%;}
.popimage{margin-top:5px;}
.loginregister{display:inline-block;float:left;height:165px;left:15.5%;padding:20px 0;position:relative;top:19%;width:90%;}
.loginregister{left:0;top:13%;}
.loginregister h2{font-size:14px !important;}
.loginregister h2{color:#843719;font-size:25px;text-shadow:1px 1px 1px #843719;}
.popimage{margin-top:-10px;}
.popimage{display:inline-block;position:relative;text-align:center;width:100%;}
.divpopup h4{font-size:14px !important;margin:4px !important;}
.popimage h4{color:#f28820;display:inline-block;font-size:14px;font-weight:500;left:50px;margin:0 5px 10px;right:0;text-shadow:1px 1px 1px hsl(0, 0%, 80%);top:0;width:100%;}
.divpopup h5{margin:0 0 0 45px;width:70%;}
.divpopup h5{color:#843719;font-size:11px;font-weight:500;margin:0 45px 10px;text-shadow:1px 0 0 #843719;}
.popimage img{display:none;}
}