<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="combineAndMinify" type="CombineAndMinify.ConfigSection" requirePermission="false" />
    <sectionGroup name="system.web">
      <section name="RegExUrlMapping" type="RegExUrlMappingConfigHandler" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="projectname" value="creative1.0" />
    <add key="sitepath" value="themes/creative1.0/" />
    <add key="sitepathmain" value="" />
    <add key="SiteName" value="" />
    <add key="EventCatID" value="31" />
    <add key="EventM" value="46" />
    <add key="EventIdeaCentral" value="60" />
    <!-- Added by on 30-01-2018-->
    <add key="LWPMailId_HR" value="user.e1@highbartech.com" />
    <add key="MLMailId_HR" value="user.e1@highbartech.com" />
    <add key="AttMailId_HR" value="user.e1@highbartech.com" />
    <add key="SLcertificatesTemp" value="~/TempSLCertificate/" />
    <add key="leavecertificates" value="~/LeaveCertificate/" />
    <add key="AppraisalFiles" value="~/AppraisalFiles/KRA" />
    <add key="APPLatterAccPath" value="~/AppointmentLatterAcc/" />
    <add key="APPLatterAccPath" value="http://localhost/hrmsadmin/SinedAppoimentDocument/" />
    <add key="HR_Operation_Emails" value="antima.sharma@highbartech.com;neelam.shirsat@highbartech.com;tanuja.mujawar@highbartech.com;mahesh.rahatwal@highbartech.com" />

    <add key="UploadBookedTravelTicket" value="~/Employee_Travel_Booked_Tickets/" />
    <add key="approveTravelRequisitionReq" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/travelRequisitionBooking_Form.aspx" />

    <add key="SendMediclaimData" value="sanjay.patil@highbartech.com" />
    <!-- Added by on 30-01-2018-->
    <!--
commented by sony starts here
-->
    <!--<add key="adminsitepath" value="http://192.168.0.172/hrmsadmin/" />
    <add key="sitepathadmin" value="http://192.168.0.172/hrmsadmin/" />-->
    <add key="adminsitepath" value="http://localhost/hrmsadmin/" />
    <add key="sitepathadmin" value="http://localhost/hrmsadmin/" />
    <!--
commented by sony ends here
-->
    <add key="Holiday_list" value="~/Holiday_list/" />
    <add key="mediapath" value="themes/creative1.0/images/" />
    <add key="sitepathcss" value="CSS/creative1.0/" />
    <add key="sitepathcss1" value="" />
    <add key="sitepathimg" value="images/" />
    <add key="IntranetName" value="HRMS" />
    <add key="RemoveWhitespace" value="true" />
    <add key="adminmail" value="hrms@highbartech.com" />
    <add key="MailServer" value="70.38.31.110" />
    <add key="EnableUrlRewriting" value="true" />
    <add key="ServerSideViewstate" value="true" />
    <add key="PAYPAL_REDIRECT_URL" value="https://www.paypal.com/webscr" />
    <add key="paypalAccount" value="pm@paypalAccount.com" />
    <!--for offline-->
    <add key="internetURL" value="http://intranet.highbartech.com/hrms/login.aspx" />
    <add key="intranetURL" value="http://localhost/hrms/login.aspx" />
    <!--
commented by sony ends here
-->
    <add key="ZP1" value="http://portal.highbartech.com/ApplicationList.aspx?appid=162" />
    <add key="ZC1" value="http://portal.highbartech.com/ApplicationList.aspx?appid=169" />
    <add key="TBC1" value="http://portal.highbartech.com/ApplicationList.aspx?appid=499" />
    <add key="ZP2" value="http://highbarportal/ApplicationList.aspx?appid=162" />
    <add key="ZC2" value="http://highbarportal/ApplicationList.aspx?appid=169" />
    <add key="TBC2" value="http://highbarportal/ApplicationList.aspx?appid=499" />
    <add key="ChangePassword" value="http://highbarportal/UserManagement/ApplicationList.aspx?appid=184" />
    <add key="ChangePasswordTrue" value="http://portal.highbartech.com/UserManagement/ApplicationList.aspx?appid=184" />
    <add key="SecurityQst" value="http://highbarportal/UserManagement/ApplicationList.aspx?appid=185" />
    <add key="SecurityQstTrue" value="http://portal.highbartech.com/UserManagement/ApplicationList.aspx?appid=185" />
    <add key="ZS1" value="http://portal.highbartech.com/UserManagement/SSOAuth.asmx" />
    <add key="ZA1" value="http://portal.highbartech.com/ValidateSSOKeyForIntranet" />
    <add key="ZS2" value="http://highbarportal/UserManagement/SSOAuth.asmx" />
    <add key="ZA2" value="http://highbarportal/ValidateSSOKeyForIntranet" />
    <add key="highbartech.SSOAuth" value="http://portal.highbartech.com/UserManagement/SSOAuth.asmx" />
    <!-- Added by on 30-01-2018-->
    <add key="leave_typeid_PL" value="1" />
    <add key="leave_typeid_TO" value="5" />
    <add key="leave_typeid_SL" value="2" />
    <add key="leave_typeid_LWP" value="4" />
    <add key="leave_typeid_ML" value="3" />
    <add key="leaveStatusid_P" value="1" />
    <add key="leaveStatusid_A" value="2" />
    <add key="leaveStatusid_R" value="4" />
    <add key="leaveStatusid_C" value="5" />
    <add key="leaveStatusid_AR" value="6" />
    <add key="Approvedstatusid_Trvl" value="8" />
    <add key="Approvedstatusid_L" value="7" />
    <add key="TrvlStatusid_D" value="1" />
    <add key="TrvlStatusid_I" value="2" />
    <!--  <add key="approverLink_LR" value="http://localhost/procs/Leave_Req_App.aspx" />-->
    <!--<add key="approverLink_LR" value="http://localhost/hrms/procs/Leave_Req_App.aspx" />
    <add key="approverLink_TR" value="http://localhost/hrms/procs/AppTravelrequest.aspx" />
    <add key="approverLink_MobRem" value="http://localhost/hrms/procs/Mobile_Req_App.aspx" />
    <add key="approverLink_FuelRem" value="http://localhost/hrms/procs/Fuel_Req_App.aspx" />-->
    <add key="approverLink_LR" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/Leave_Req_App.aspx" />
    <add key="approverLink_TR" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/AppTravelrequest.aspx" />
    <add key="approverLink_TE" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/AppTravelExpense.aspx" />
    <add key="approverLink_MobRem" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/Mobile_Req_App.aspx" />
    <add key="approverLink_FuelRem" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/Fuel_Req_App.aspx" />
    <add key="approverLink_PVRem" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/Payment_Req_App.aspx" />
    <add key="approverLink_AR" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/AppRej_AttendanceReqst.aspx" />
    <add key="approverLink_LRC" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/Leave_Req_C_App.aspx" />
    <add key="approverLink_LR_S" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/Leave_Req_6_App.aspx" />
    <!--<add key="PerformanceReviewerInbox" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/PerformanceReviewList.aspx" />
    <add key="RevieweeInbox" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/ManageSelfAssessment.aspx" />
    <add key="RecommendationInbox" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/ManageRecommendationList.aspx" />
    <add key="PerformanceReviewerInbox" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/Appraisal_SelfAssessment.aspx" />
    <add key="RevieweeInbox" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/Appraisal_SelfAssessment.aspx" />
    <add key="RecommendationInbox" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/Appraisal_SelfAssessment.aspx" />-->
    <add key="ClaimsDocumentpath" value="~/ClaimDocuments/" />
    <add key="FuelClaimsDocumentpath" value="~/FuelClaimDocuments/" />
    <add key="NominationsDocumentpath" value="~/NominationsDocuments/" />
    <add key="PaymentVoucherDocumentpath" value="~/payemntVoucher/" />
    <add key="trvlingExpfiles" value="~/Travelling_Expense_Files/Expenses/" />
    <add key="RecruitmentDocumentpath" value="~/Recruitment/" />
    <add key="employeeReferralResumes" value="~/Recruitment/employees_referral_resume/" />
    <add key="Service_Req_App" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/Service_Req_App.aspx" />
    <add key="ServiceRequestPathpath" value="~/ServiceRequestDocuments/" />
    <add key="approverLink_Resignation" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/Resignation_Req_App.aspx" />
    <add key="Resignationpath" value="~/ResignationDocuments/" />
    <add key="customerResponsePage" value="http://localhost/cs/Response.aspx" />
    <add key="StaticAlertpath" value="D:\HRMS\hrmsadmin\files\StaticAlert\" />
    <add key="AssetInventoryPath" value="~/files/AssetInventory/" />
    <add key="TaskMonitoringUploadTemplatePath" value="~/TaskMonitoring_UploadTemplate/" />


    <add key="Rec_CandidateResumeDocpath" value="~/Recruiter/Rec_CandidateResume/" />
    <add key="QuestionnaireDocumentpath" value="~/Recruiter/QuestionnaireDocument/" />
    <add key="Rec_CandidateJoiningtimefile" value="~/Recruiter/Rec_CandidateResignationSubmissionAcceptanceDoc/" />
    <add key="Rec_RecruiterIRSheet" value="~/Recruiter-IRSheet/" />
    <add key="Rec_RecruiterIRSheetBLANKFile" value="~/Recruiter-IRSheet/SampleIRSheet/" />
    <add key="OfferApprovalDocumentpath" value="~/Recruiter/OfferApprovalDocument/" />
    <add key="Rec_InterviewerPhoto" value="~/Recruiter/InterviewerPhoto/" />

    <add key="Link_InterviewerShortList" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/InterviewerShortList.aspx" />
    <add key="Link_SheduleInterviewer" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/SheduleInterviewer.aspx" />
    <add key="Link_RecruiterReschedule" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/RecruiterReschedule.aspx" />
    <add key="Link_InterviewerFeedback" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/InterviewerFeedbac.aspx" />
    <add key="Link_Offer_Approval" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/Req_Offer_Approval.aspx" />
    <add key="approverLink_RequiCR" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/Req_Requisition_Approval.aspx" />
    <add key="AssignRecLink_Requi" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/RecruiterSendShortListing.aspx" />
    <add key="CancelLink_RequiCR" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/Req_Requisition_Approval_C.aspx" />

    <add key="Customer_Req_App" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/CustEscalation_Req_App.aspx" />
    <add key="Customer_Req_Reject" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/CustEscalation_Req_Reject.aspx" />
    <add key="CustomerFristPathpath" value="~/CustomerFirstDocuments/" />
    <add key="ClearanceFormUpload" value="~/files/ClearanceForm/" />
    <add key="Link_CandidateApporvalReferral" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/Ref_Candidate_Approval.aspx" />
    <add key="Ref_CandidateResume" value="~/EmployeesReferralResume/" />
    <add key="SSRSReportPath" value="/EmployeeSRRS_Report/EMployeeReport" />
    <add key="AppointmentLetterIssuedReportPath" value="/EmployeeSRRS_Report/AppointmentLetterIssued_Reports" />
    <add key="LogTestPath" value="D:\\HRMS\\Log\" />
    <add key="EmployeeCVDCFilePath" value="~/files/DocumentLocker/" />
    <add key="ResigAttachmentPath" value="~/files/ExitProcess/ResignationAttachments/" />
    <add key="ITAttachmentPath" value="~/files/ExitProcess/IT/" />
    <add key="ITAttachmentPathAll" value="~/files/ExitProcess/" />
    <add key="TaskMonitoringPath" value="~/TaskMonitoring/" />
    <add key="KRASupportedfiles" value="~/KRASupportedFiles/" />
    <add key="KRAFiles" value="~/EmployeeKRA/" />
    <add key="approverLink_KRA" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/KRA_Appr.aspx" />
    <add key="CorrectionLink_KRA" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/KRA_Create.aspx" />
    <add key="DocumentPolicyPath" value="http://localhost/hrmsadmin/files/DocumentPolicy/" />
    <add key="Link_CandidateLogin" value="http://localhost/candidates/can_login.aspx" />

    <add key="VSCBPageTitle" value="Vendo₹Pay" />

    <add key="VSCBTallyBatchfiles" value="~/VendorBilling/Tally_Batch/" />
    <add key="VSCBInvoicefiles" value="~/VendorBilling/Invoice/" />
    <add key="VSCBMilestonefiles" value="~/VendorBilling/Milestones/" />
    <add key="VSCBSignPOWOfiles" value="~/VendorBilling/SignPOWO/" />
    <add key="VSCBUploadCutofdatafiles" value="~/VendorBilling/upload_cutoff_files/" />
    <add key="VSCBApprovedPOWOfiles" value="~/VendorBilling/ApprovedPO/" />
    <add key="VSCBVendorFiles" value="~/VendorBilling/VendorFile/" />

    <add key="VSCB_Batch_EmailCC" value="nadeem.shaikh@highbartech.com" />
    <add key="VSCB_PendingPayment_EmailCC" value="vijaykumar.patil@highbartech.com" />
    <add key="VSCBUploadAssignPaymentRef" value="~/VendorBilling/UploadAssignPaymentRef_files/" />

    <add key="VendorPaymentDocpath" value="~/VendorBilling/PaymentRequest/" />
    <add key="vscb_SecurityDeposit" value="Security Deposit" />
    <add key="VSCBAggrmentPOType" value="3" />

    <add key="Link_PaymentRequestAPP" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/VSCB_ApprovePaymentRequest.aspx" />
    <add key="approverLink_VSCB" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/VSCB_ApproveInvoice.aspx" />
    <add key="approverLinkPOWO_VSCB" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/VSCB_ApprovePOWOMilestone.aspx" />
    <add key="CorrectionLinkPOWO_VSCB" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/VSCB_CreateMilestone.aspx" />
    <add key="BatchapproverLink_VSCB" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/VSCB_ApproveBatch.aspx" />
    <add key="Link_PayRequestAPPwithOut" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/VSCB_PaymentApproval_Without_PO.aspx" />
    <add key="CorrectionLink_VSCB" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/VSCB_CreateInvoice.aspx" />
    <add key="Link_AD_PayReqAPP" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/VSCB_Advance_Pay_Approval.aspx" />
    <add key="approverLinkABAP_Object" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/ABAP_Prd_TimeSheet_PMApprove.aspx" />

    <add key="UploadupdatePhoto" value="~/Employee_Photo_Update/" />
    <add key="approvephoto" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/View_ApprovedPhoto_ForHR.aspx" />
    <add key="employeephoto" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/Update_Photo.aspx" />



    <!--Appraisal Link-->
    <add key="PerformanceReviewerInbox" value="http://localhost/hrms/login.aspx?ReturnUrl=http://localhost/hrms/procs/PerformanceReviewList.aspx" />
    <add key="RevieweeInbox" value="http://localhost/hrms/login.aspx?ReturnUrl=http://localhost/hrms/procs/ManageSelfAssessment.aspx" />
    <add key="RecommendationInbox" value="http://localhost/hrms/login.aspx?ReturnUrl=http://localhost/hrms/procs/ManageRecommendationList.aspx" />
    <add key="PerformanceReviewerInbox" value="http://localhost/hrms/login.aspx?ReturnUrl=http://localhost/hrms/procs/Appraisal_SelfAssessment.aspx" />
    <add key="RevieweeInbox" value="http://localhost/hrms/login.aspx?ReturnUrl=http://localhost/hrms/procs/Appraisal_SelfAssessment.aspx" />
    <add key="RecommendationInbox" value="http://localhost/hrms/login.aspx?ReturnUrl=http://localhost/hrms/procs/Appraisal_SelfAssessment.aspx" />
    <add key="AppraisalTargetEvaluationFiles" value="~/AppraisalFiles/KRA/" />
    <!--Appraisal Link-->



    <!--ABAP Object Tracker-->
    <add key="ABAPObjectPageTitle" value="ABAP Object Tracker" />
    <add key="ABAPObjectfiles" value="~/ABAPTracker/" />
    <add key="ABAPObjectHBTTest" value="~/ABAPTracker/HBTTest" />
    <add key="ABAPObjectCTMTest" value="~/ABAPTracker/CTMTest" />
    <add key="ABAPObjectFS" value="~/ABAPTracker/FS_Attachment" />
    <add key="ABAPObjectPassedHBTTestCase" value="~/ABAPTracker/PassedHBTTestCase" />
    <add key="ABAPObjectFailedHBTTestCase" value="~/ABAPTracker/FailedHBTTestCase" />
    <add key="ABAPObjectCTMTestCase" value="~/ABAPTracker/CTMTestCase" />
    <add key="ABAPObjectUATSingOff" value="~/ABAPTracker/UATSingOff" />
    <add key="ABAPObjectRGS" value="~/ABAPTracker/RGSAttachment" />
    <add key="ABAPObjectABAPSoruceCode" value="~/ABAPTracker/ABAP_SourceCode" />
    <add key="approverLink_ABAPObjectPlan" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/ABAP_Object_Tracker_Plan_for_Approval.aspx" />
    <add key="ViewLink_ABAPObjectPlan" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/ABAP_Object_Tracker_Plan_for_Approval.aspx" />
    <add key="RGSCaseAppr_ABAPObjectPlan" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/ABAP_Object_Tracker_Change_Status_RGS_Approval.aspx" />
    <add key="RGS_ABAPObjectPlan" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/ABAP_Object_Tracker_Change_Status_RGS.aspx" />
    <add key="ABAPAccept_ABAPObjectPlan" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/ABAP_Object_Tracker_Change_Status_ABAP_Accept_NotAccept.aspx" />
    <add key="ABAPNotAccept_ABAPObjectPlan" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/ABAP_Object_Tracker_Change_Status_FS.aspx" />
    <add key="ABAPStatus_ABAPObjectPlan" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/ABAP_Object_Tracker_Change_Status_ABAP.aspx" />
    <add key="HBTTesting_ABAPObjectPlan" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/ABAP_Object_Tracker_Change_Status_HBTTesting.aspx" />
    <add key="CTMTesting_ABAPObjectPlan" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/ABAP_Object_Tracker_Change_Status_CTMTesting.aspx" />
    <add key="CTMTestCaseAppr_ABAPObjectPlan" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/ABAP_Object_Tracker_CTM_Test_Cases_Index.aspx" />
    <!--ABAP Object Tracker-->

    <!--Upload Gallery & Banner images-->
    <add key="Banner_images" value="~/Images_a/" />
    <add key="Gallery_images" value="~/projectimages/" />
    <!--Upload Gallery & Banner images-->

    <add key="CandidateOfferLatter" value="~/Recruiter/CandidateOfferLatter/" />
    <add key="Link_Offer_Accept" value="http://localhost/Candidates/Can_login.aspx?ReturnUrl=CandidateOfferDetails.aspx" />
    <add key="RetentionPath" value="~/files/RetentionFile/" />
    <add key="Link_Retention_Approval" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/ExitProcess_Mo_Approval.aspx" />
    <!-- Added by on 30-01-2018-->

    <!--Customer Fisrt-->
    <add key="PageTitle" value="CustomerFirst Service Request" />
    <add key="CustomerServiceRequestPathpath" value="~/CustomerServiceRequestDocuments/" />
    <add key="CustomerService_Req_App" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/CustsService_Req_App.aspx" />
    <add key="CustomerService_Req_App_Cust" value="http://cf.highbartech.com/Login" />
    <add key="CustomerService_Req_App_View" value="http://localhost/hrms/login.aspx?ReturnUrl=procs/CustsService_Req_View.aspx" />
    <add key="CustomerFeedbackTitle" value="Customer Feedback" />
    <add key="customerResponsePage" value="http://localhost/cs/ResponseCustomer.aspx" />
    <!-- Customer Service Request URL-->

  </appSettings>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="ConnectionStringHBT" connectionString="Data Source=HBT-05\SQLEXPRESS;Integrated Security=false;Initial Catalog=HRMS_ADMIN;User ID=sa;Password=pass@123;Max Pool Size=1000" providerName="System.Data.SqlClient" />
    <add name="LocalSqlServer" connectionString="Data Source=HBT-05\SQLEXPRESS;Integrated Security=false;Initial Catalog=HRMS_ADMIN;User ID=sa;Password=pass@123;Max Pool Size=1000" providerName="System.Data.SqlClient" />
    <add name="GlobalConnection" connectionString="Server=HBT-05\SQLEXPRESS; Database=HRMS_ADMIN;User ID=sa;Password=pass@123;Max Pool Size=1000" providerName="System.Data.SqlClient" />
      <add name="sqlconnection" connectionString="Data Source=HBT-05\SQLEXPRESS;Integrated Security=false;Initial Catalog=HRMS;User ID=sa;Password=pass@123;Max Pool Size=1000" providerName="System.Data.SqlClient" /> 
     
    <add name="AppraisalConnection" connectionString="Data Source=HBT-05\SQLEXPRESS;Initial Catalog=HBT_Appraisal;Integrated Security=False;User ID=sa;Password=pass@123;Max Pool Size=1000" providerName="System.Data.SqlClient" />
    <add name="sqlconnection_R" connectionString="Data Source=HBT-05\SQLEXPRESS;Integrated Security=false;Initial Catalog=recr_quality;User ID=sa;Password=pass@123" providerName="System.Data.SqlClient" />



    <!-- Added by on 30-01-2018-->
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="102400" executionTimeout="110" requestValidationMode="2.0" />
    <httpHandlers>
      <remove path="*.asmx" verb="*" />
      <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
      <!-- Added by R1 17-09-2018-->
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
      <!-- Added by R1 17-09-2018-->
    </httpHandlers>
    <!--sagar added batch="false" in below line for removing error of circular file refrence 9dec2017-->
    <compilation debug="true" targetFramework="4.5" batch="false">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <!-- Added by on 30-01-2018-->
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <!--<add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />-->
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <!-- Added by on 30-01-2018-->
        <!--<add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
      </assemblies>
      <!-- Added by on 30-01-2018-->
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
      <!-- Added by on 30-01-2018-->
    </compilation>
    <pages enableViewStateMac="true" viewStateEncryptionMode="Always" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit" />
      </controls>
    </pages>
    <!--SAGAR COMMENTED BELOW CODE OF FORMS AUTHENTICATION FOR ADDING WINDOWS AUTHENTICATION STARTS HERE 9DEC2017-->
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" requireSSL="false" />
    </authentication>
    <!--SAGAR COMMENTED BELOW CODE OF FORMS AUTHENTICATION FOR ADDING WINDOWS AUTHENTICATION ENDS HERE 9DEC2017-->
    <!--SAGAR ADDED BELOW CODE FOR  WINDOWS AUTHENTICATION STARTS HERE 9DEC2017-->
    <!--<configuration>-->
    <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
    <!-- <system.web>
        <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="SHA1" />
        <compilation debug="true" targetFramework="4.5" />
        <authentication mode="Windows" />
        <authorization>
          <allow users="*" />
          <deny users="?" />
        </authorization>
        <pages controlRenderingCompatibilityVersion="4.0" />
        <identity impersonate="true" />
      </system.web>
    </configuration>-->
    <!--SAGAR ADDED BELOW CODE FOR  WINDOWS AUTHENTICATION ENDS HERE 9DEC2017-->
    <customErrors mode="Off" defaultRedirect="errorpg.aspx">
      <error statusCode="400" redirect="errorpg.aspx" />
      <error statusCode="401" redirect="errorpg.aspx" />
      <error statusCode="403" redirect="errorpg.aspx" />
      <error statusCode="404" redirect="errorpg.aspx" />
      <error statusCode="408" redirect="errorpg.aspx" />
      <error statusCode="500" redirect="errorpg.aspx" />
      <error statusCode="502" redirect="errorpg.aspx" />
      <error statusCode="503" redirect="errorpg.aspx" />
      <error statusCode="504" redirect="errorpg.aspx" />
    </customErrors>
    <membership hashAlgorithmType="SHA1">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider,&#xA; System.Web,&#xA; Version=2.0.0.0, Culture=neutral,&#xA;PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="GlobalConnection" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="IndiemuvizApplication" requiresUniqueEmail="true" passwordFormat="Encrypted" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <!--<anonymousIdentification enabled="true" />-->
    <profile enabled="true">
      <properties>
        <add name="FirstName" />
        <add name="LastName" />
        <add name="Address" />
        <add name="Address1" />
        <add name="Address2" />
        <add name="City" />
        <add name="State" />
        <add name="PinCode" />
        <add name="Country" />
        <add name="MobileNo" />
        <add name="LandPhone" />
        <add name="birthday" />
        <add name="addsource" />
        <add name="Memberdiscount" type="System.Decimal" />
        <add name="Mailings" type="System.Boolean" />
        <add name="Email" />
        <add name="Macno" />
        <add name="AssignedPoints" />
        <add name="UsedPoints" />
        <add name="CustomerId" />
        <add name="Cart" serializeAs="Binary" type="Creative.Commerce.ShoppingCart" allowAnonymous="true" />
        <add name="Wish" serializeAs="Binary" type="Creative.Commerce.WishListCart" allowAnonymous="true" />
        <add name="CompanyName" />
        <add name="Startyear" type="System.Int32" />
        <add name="OfficePhone" />
        <add name="Website" />
        <add name="CompanyDesc" />
        <add name="ProductDesc" />
        <add name="FirmType" />
        <add name="BusinessNature" />
        <add name="BusinessCat" />
        <add name="VendorPlan" />
        <add name="Turnover" />
        <add name="Logoimage" />
        <add name="Headerimage" />
        <add name="Regdate" type="System.DateTime" />
        <add name="Expirydate" type="System.DateTime" />
        <add name="Status" />
        <add name="Vatno" />
        <add name="Cstno" />
        <add name="Bstno" />
        <add name="Servicetaxno" />
        <add name="Terms" />
        <add name="companyaddress" />
        <add name="userpanno" />
        <add name="companypanno" />
        <add name="countrycode" />
        <add name="Newsletter" />
        <add name="citycode" />
      </properties>
    </profile>
    <machineKey validationKey="7C8D8BA3D8D3A9DA462593558C7D74C94A87E6DA5A9A3A04C5B19F3B29B3269F055DDEFC5DE7698338D20B6E062435F58ACE6B1A85EBAC8DAF70A4B09CD5E258" decryptionKey="BEC8B676F0CF57A0C8A2CB8AC91BAAE5315210834975EEA7" validation="SHA1" />
    <httpModules>
      <add type="RegExUrlMappingModule" name="RegExUrlMappingModule" />
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <RegExUrlMapping enabled="true">
      <add url="/enquiry/(.*)" mappedUrl="/enquiry.aspx?pid=$1" />
      <add url="/profile/(.*)" mappedUrl="/viewprofile.aspx?userid=$1" />
      <add url="/composemessage/(.*)" mappedUrl="/composemail.aspx?cid=$1" />
      <add url="/watch/(.*)/(.*)" mappedUrl="/watch.aspx?p=$1" />
      <add url="/addpost/(.*)" mappedUrl="/addpost.aspx?pid=$1" />
      <add url="/survey/(.*)" mappedUrl="/surveydetail.aspx?surveyid=$1" />
      <add url="/groups/(.*)" mappedUrl="/groups.aspx?userid=$1" />
      <add url="/groupdetails/(.*)" mappedUrl="/groupsmember.aspx?grpid=$1" />
      <add url="/grouppost/(.*)" mappedUrl="/groupspost.aspx?grpid=$1" />
      <add url="/trailor/(.*)/(.*)" mappedUrl="/trailor.aspx?p=$1" />
      <add url="/ps/(.*)/(.*)/(.*)/(.*)" mappedUrl="/ps.aspx?catname=$1&amp;c=$2&amp;brandname=$3&amp;br=$4" />
      <add url="/ps/(.*)/(.*)/(.*)" mappedUrl="/ps.aspx?attrname=$1&amp;catname=$2&amp;a=$3" />
      <add url="/ps/(.*)/(.*)" mappedUrl="/ps.aspx?catname=$1&amp;c=$2" />
      <add url="/ps/(.*)" mappedUrl="/ps.aspx?c=$1" />
      <add url="/photo-gallery/(.*)" mappedUrl="/photogallery.aspx?p=$1" />
      <add url="/user/(.*)" mappedUrl="/userprofile.aspx?userid=$1" />
      <add url="/followers/(.*)" mappedUrl="/follower.aspx?userid=$1" />
      <add url="/reviewmore/(.*)" mappedUrl="/reviewmore.aspx?p=$1" />
      <add url="/following/(.*)" mappedUrl="/following.aspx?userid=$1" />
      <add url="/favorites/(.*)" mappedUrl="/favorites.aspx?userid=$1" />
      <add url="/comments/(.*)" mappedUrl="/comments.aspx?reviewid=$1" />
      <add url="/pd/(.*)/(.*)" mappedUrl="/pdnew.aspx?pname=$1&amp;p=$2" />
      <add url="/pd/(.*)" mappedUrl="/pdnew.aspx?p=$1" />
      <add url="/search/(.*)/(.*)" mappedUrl="/search.aspx?s=$1&amp;pkg=$2" />
      <add url="/search/(.*)/" mappedUrl="/search.aspx?s=$1" />
      <add url="/f/(.*)" mappedUrl="/footer.aspx?catname=$1" />
      <add url="/ad/(.*)" mappedUrl="/artistdetail.aspx?a=$1" />
      <add url="/enquiry/(.*)" mappedUrl="/productenquiry.aspx?p=$1" />
      <add url="/wishlist/(.*)" mappedUrl="/wishlist.aspx?p=$1" />
      <add url="/freetrial" mappedUrl="/freetrial.aspx" />
      <add url="summary/premium/(.*)" mappedUrl="/summery.aspx?k=$1" />
      <add url="summary/buy/(.*)" mappedUrl="/summery.aspx?s=$1" />
      <add url="summarynew/premium/(.*)" mappedUrl="/summerynew.aspx?k=$1" />
      <add url="summarynew/buy/(.*)" mappedUrl="/summerynew.aspx?s=$1" />
      <add url="/director" mappedUrl="/artist.aspx?" />
      <add url="/pop/(.*)/(.*)" mappedUrl="/popup2.aspx?p=$1" />
      <add url="/donation/p/(.*)" mappedUrl="/donation.aspx?p=$1" />
      <add url="/user/(.*)/(.*)" mappedUrl="/watch.aspx?p=$1" />
    </RegExUrlMapping>
    <sessionState timeout="60" />
    <roleManager enabled="true" defaultProvider="SqlProvider">
      <providers>
        <clear />
        <add name="SqlProvider" connectionStringName="LocalSqlServer" applicationName="IndiemuvizApplication" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="LocalSqlServer" applicationName="IndiemuvizApplication" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="IndiemuvizApplication" />
      </providers>
    </roleManager>
    <identity impersonate="false" />
  </system.web>
  <location path="login.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="*" />
      </authorization>
      <identity impersonate="true" />
    </system.web>
  </location>
  <location path="data/users.json">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <!--<add name="Content-Security-Policy" value="default-src * 'unsafe-inline' 'unsafe-eval'"/>-->
        <!-- <add name="X-UA-Compatible" value="IE=Edge"/> -->
        <!--<add name="X-Frame-Options" value="SAMEORIGIN"/>
        <add name="X-Content-Type-Options" value="nosniff "/>
        <add name="X-XSS-Protection" value="1; mode=block"/>-->
      </customHeaders>
    </httpProtocol>
    <directoryBrowse enabled="false" />
    <modules>
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
    </modules>
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".log" allowed="false" />
          <add fileExtension=".php" allowed="false" />
          <add fileExtension=".xml" allowed="true" />
          <add fileExtension=".json" allowed="true" />
          <add fileExtension=".ashx" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <!-- Commented by Hameed
        <httpErrors>
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="19" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="%SystemDrive%\inetpub\custerr" path="404.htm" responseMode="File" />
            <error statusCode="500" prefixLanguageFilePath="%SystemDrive%\inetpub\custerr" path="500.htm" responseMode="File" />
        </httpErrors>-->
    <staticContent>
      <!--<mimeMap fileExtension=".js" mimeType="application/javascript"/>-->
      <!--<mimeMap fileExtension=".woff" mimeType="font/woff"/>-->
      <!-- <mimeMap fileExtension=".woff2" mimeType="font/woff2" />-->
    </staticContent>
    <defaultDocument>
      <files>
        <clear />
        <add value="login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime xmlns="">
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- Added by on 30-01-2018-->
  <system.webServer xmlns="">
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <!-- Added by on 30-01-2018-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.16.0.182:15001/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="PDFService.IService1" name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
</configuration>