select#MainContent_ddlFromFor {
    background: #dae1ed;
}
/*#content-container select {
    -moz-appearance: none !important;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #e8e8e8;
    border-color: -moz-use-text-color -moz-use-text-color hsl(0, 0%, 62%);
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 2px;
    color: hsl(0, 0%, 39%);
    float: left;
    font-size: 15px;
    margin-bottom: 0;
    margin-left: 38px;
    margin-top: 3px;
    outline: 0 none;
    padding: 10px 20px 10px 0;
    width: 63% !important;
    height: 50px !important;
}*/
/*input, textarea {
    border-color: -moz-use-text-color -moz-use-text-color hsl(0, 0%, 62%);
    border-radius: 3px 3px 0 0;
    border-style: none none solid;
    border-width: 0 0 2px;
    box-shadow: none !important;
    margin-top: 15px;
    padding: 15px;
}*/

input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
textarea{width:100%;}

 #MainContent_trvl_accmo_btn {
    /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 4px 19px;
}
 #MainContent_btnTra_Details {
    /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 6px 16px;
}
  #MainContent_btnTra_competancy {
    /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 6px 16px;
}
  #MainContent_btnlnkPRD
  {
    /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 6px 16px;
}
  #MainContent_lnkEmpDtl
  {
    /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 6px 16px;
}
  #MainContent_btnlnkIDP
   {
    /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 6px 16px;
}
  #MainContent_lnkStrengthAdd
  {
    /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 6px 16px;
}
  #MainContent_btnlnkrediss
  {
    /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 6px 16px;
}
 #MainContent_btnlnkRecommendation
 {
    /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 6px 16px;
}
  #MainContent_btnTra_DevelopmentPlan
    {
    /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 6px 16px;
}
 #MainContent_trvl_accmo_btn {
    /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 6px 16px;
}
 #MainContent_trvl_localbtn {
    /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 6px 16px;
}
 .mobile_Accomodation a {
   /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 6px 17px;
}
    
#MainContent_btnTra_Details,#MainContent_btnTra_competancy,#MainContent_lnkEmpDtl,#MainContent_btnTra_DevelopmentPlan,#MainContent_btnlnkRecommendation,#MainContent_btnlnkIDP,#MainContent_lnkStrengthAdd, #MainContent_btnlnkrediss, #MainContent_btnlnkPRD {
    margin: 0 0 0 0%;
    /*margin: 0 0 0 30%;*/
}
.trvl_grid {
    width: 100% !important;
}

#MainContent_mobile_btnSave,#MainContent_mobile_cancel,#MainContent_mobile_btnReject,#MainContent_mobile_btnBack,#MainContent_mobile_btnSave_COSACC,#MainContent_mobile_btnPrintPV,#MainContent_mobile_btnAddKRA
{
    /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 0.5% 1.4%;
    margin: 0% 0% 0 0;
}
.mobile_Savebtndiv {
    text-align: center;
	margin: 5% 0 0 -25% !important;
}
.mobile_Approver {
    width: 50% !important;
}
.mobile_grid {
    width: 51% !important;
}
.Payment_grid {
    width: 80% !important;
}


@media only screen and (min-width: 320px) and (max-width: 480px)  {
.mobile_Approver {
    width: 100% !important;
}
.mobile_grid {
    overflow: scroll;
}
.Payment_grid {
    overflow: scroll;
}
.edit-contact > ul > li {
    display: block;
    margin-right: 0%;
    width: 100%;
}
.mobile_Reason {
    padding: 1% 0 1% 0;
}
.mobile_detail {
    padding: 1% 0 3% 0;
}
.mobile_Accomodation {
    padding: 2% 0 3% 0;
}
.mobile_local {
    padding: 2% 0 3% 0;
}
input[type="file"] {
    max-width: 83% !important;
}
#MainContent_mobile_btnSave,#MainContent_mobile_btnReject,#MainContent_mobile_btnBack ,mobile_btnSave_COSACC,#MainContent_mobile_btnAddKRA{
    /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 0.5% 1.4%;
    margin: 6% 0% 0 0;
}
.mobile_Approver {
    width: 100% !important;
}
.mobile_grid {
    width: 100% !important;
}
.Payment_grid {
    width: 100% !important;
}
/*added by  Start From Here*/
.mobile_Savebtndiv {
    text-align: center;
    margin: 6% 0 0 -25% !important;
}
/* End Here*/
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2){
    #MainContent_btnTra_Details,#MainContent_btnTra_competancy,#MainContent_btnlnkIDP, #MainContent_lnkStrengthAdd,#MainContent_btnlnkrediss,#MainContent_btnTra_DevelopmentPlan, #MainContent_btnlnkPRD, #MainContent_btnlnkRecommendation, #MainContent_lnkEmpDtl {
    margin: 0 0 0 0;
}

input[type="text"], input[type="url"], input[type="email"], input[type="password"], textarea {
    width: 100% !important;
    height: 20px;
}
.mobile_type {
    width: 27% !important;
}
#MainContent_mobile_btnSave ,#MainContent_mobile_btnReject,#MainContent_mobile_btnBack,mobile_btnSave_COSACC,#MainContent_mobile_btnAddKRA{
    /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 0.5% 1.4%;
    margin: 0 1% 0 0;
}
.mobile_Approver {
    width: 80% !important;
}
.mobile_Amount {
    padding: 1% 0 1% 0;
}

}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2){

   .mobile_Approver {
    width: 80% !important;
}

}
@media only screen and (min-device-width : 360px) and (max-device-width : 640px)  {
input[type="text"], input[type="url"], input[type="email"], input[type="password"], textarea {
    width: 87% !important;
}
input[type="file"] {
    max-width: 87% !important;
}

}
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {


input[type="file"] {
    max-width: 87% !important;
}

}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (-webkit-min-device-pixel-ratio: 2) {
    /*.mobile_Approver {
    width: 357px !important;
}*/
}
