select#MainContent_ddlFromFor {
    background: #dae1ed;
}
/*#content-container select {
    -moz-appearance: none !important;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #e8e8e8;
    border-color: -moz-use-text-color -moz-use-text-color hsl(0, 0%, 62%);
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 2px;
    color: hsl(0, 0%, 39%);
    float: left;
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 38px;
    margin-top: 3px;
    outline: 0 none;
    padding: 10px 20px 10px 0;
    width: 63% !important;
    height: 35px !important;
}*/
.Approver {
    width: 33.4% !important;
}
.inter {
    width: 33.4% !important;
}
input, textarea {
    border-color: -moz-use-text-color -moz-use-text-color hsl(0, 0%, 62%);
    border-radius: 3px 3px 0 0;
    border-style: none none solid;
    border-width: 0 0 2px;
    box-shadow: none !important;
    margin-top: 15px;
    padding: 15px;
}
.inter {
    width: 33.4% !important;
    margin: 0 0 0 3.5%;
}

.edit-contact > ul > li {
  display: inline-block;
  margin-right: 0%;
  width: 36%;
}
leavedays {
  width: 21% !important;
   padding: 1% 0 1% 0 !important;
}

fordate {
width: 21% !important;
}

.texticonselect {
    cursor: pointer;
    font-size: 16px;
}
.texticonselect {
    cursor: pointer;
    font-size: 16px;
    height: 18px;
    left: 8px;
    position: relative;
    top: -29px;
    vertical-align: sub;
    width: 18px;
}
.edit-contact input {
    padding-left: 30px !important;
    width: 100%;
}
.leavegrid {
    margin: 0 0 0 4% !important;
}

#MainContent_dgLeaveBalance {
    width: 70% !important;
}
#MainContent_inbox_Cal {
    /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 1% 1%;
}
#MainContent_inbox_TeamCal {
    /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 1% 1%;
    float: right;
    margin: 0% 30% 1% 0%;
}
#MainContent_btnBack {
    background-attachment: scroll;
    background-clip: border-box;
    /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background-color: #3D1956;
    color: #febf39 !important;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    padding-bottom: 8px;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 8px;
}
#MainContent_lstApprover {
    overflow: hidden;
}
#MainContent_lstIntermediate {
    overflow: hidden;
}
input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
textarea{width:79%;}

#MainContent_lnk_leaverequest {
   /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
     padding: 1% 1%;
    width: 21%;
    margin:0 2% 0 0;
}
#MainContent_lnk_Attendancereg {
/*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
 margin:0 2% 0 0;   
  padding: 1% 1%;
    width: 21%;
}
#MainContent_lnk_mng_leaverequest {
/*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
     padding: 1% 1%;
    width: 21%;
    margin:0 2% 0 0;
}
#MainContent_lnk_mng_Attendancereg {
/*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 1% 1%;
    width: 21%;
}

#MainContent_lnk_leaveinbox {
 /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
     padding: 1% 1%;
    width: 21%;
    margin:0 2% 0 0;
}
#MainContent_lnk_attendanceinbox {
/*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
  padding: 1% 1%;
    width: 21%;
}
#MainContent_lnk_leavereport {
/*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 1% 1%;
    width: 21%;
    margin:0 2% 0 0;
}
#MainContent_lnk_leaveParametersmst {
 
  /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
     padding: 1% 1%;
    width: 21%;
    margin:0 2% 0 0;
}
.index {
    margin: 0 0 2% 0;
}


input[type=file] {
    max-width: 80% !important;
    border:1px solid;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
.leavegrid {
    overflow-x: scroll;
}

.edit-contact > ul > li {
    display: block;
    margin-right: 0%;
    width: 100%;
}
#MainContent_inbox_TeamCal {
/*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 1% 1%;
    float: right;
    margin: 0% 0% 3% 0%;
}
#MainContent_dgLeaveBalance {
    overflow-x: scroll;
}
#MainContent_dgLeaveBalance {
    width: 100% !important;
}
.Approver {
    width: 100% !important;
}
.inter {
    width: 100% !important;
    margin:0px !important;
}


#user-thumb {
    display: none !important;
}

.date {
    width: 100% !important;
}

.Approver {
    padding: 1% 0 0 0;
}
.leavedays {
    padding: 1% 0 1% 0;
}
.date {
    padding: 0 0 1% 0;
}
.Savebtndiv {
    text-align: center;
}

input[type="file"] {
    max-width: 83% !important;
}
#MainContent_lnk_leaverequest {
    /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 3% 1%;
    width: 100%;
    margin: 0 2% 4% 0;
}
#MainContent_lnk_Attendancereg {
   /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 3% 1%;
    width: 100%;
    margin: 0 2% 4% 0;
}
#MainContent_lnk_mng_leaverequest {
   /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 3% 1%;
    width: 100%;
    margin: 0 2% 4% 0;
}
#MainContent_lnk_mng_Attendancereg {
    /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 3% 1%;
    width: 100%;
    margin: 0 2% 4% 0;
}
#MainContent_lnk_leaveinbox {
    /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 3% 1%;
    width: 100%;
    margin: 0 2% 4% 0;
}
#MainContent_lnk_attendanceinbox {
    /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 3% 1%;
    width: 100%;
    margin: 0 2% 4% 0;
}
#MainContent_lnk_leavereport {
    /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 3% 1%;
    width: 100%;
    margin: 0 2% 4% 0;
}
#MainContent_lnk_leaveParametersmst {
   /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
    padding: 3% 1%;
    width: 100%;
    margin: 0 2% 4% 0;
}

input[type="text"], input[type="url"], input[type="email"], input[type="password"], textarea {
    width: 81% !important;
}
input[type="file"] {
    max-width: 81% !important;
}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

.Approver {
    width: 37.2% !important;
}
.inter {
    width: 37.2% !important;
}
.fordate {
    margin: 0 0 0 3.5%;
}
    #MainContent_lnk_mng_Attendancereg {
        /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
        padding: 1% 1% !important;
        width: 40% !important;
        margin: 1% 0 0 0 !important;
    }

    #MainContent_lnk_attendanceinbox {
       /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
        padding: 1% 1% !important;
        width: 40% !important;
        margin: 1% 0 0 0 !important;
    }

    #MainContent_lnk_leaverequest {
        /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
        padding: 1% 1%;
        width: 40% !important;
        margin: 0 2% 0 0;
    }

    #MainContent_lnk_Attendancereg {
        /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
        margin: 0 2% 0 0;
        padding: 1% 1%;
        width: 40% !important;
    }

    #MainContent_lnk_mng_leaverequest {
        /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
        padding: 1% 1%;
        width: 40%;
        margin: 0 2% 0 0;
    }

    #MainContent_lnk_leaveinbox {
        /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
        padding: 1% 1%;
        width: 40%;
        margin: 0 2% 0 0;
    }

    #MainContent_lnk_leavereport {
        /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
        padding: 1% 1%;
        width: 40%;
        margin: 0 2% 0 0;
    }

    #MainContent_lnk_leaveParametersmst {
        /*by Highbartech on 24-06-2020
        background: #febf39;*/
    background: #3D1956;
    color: #febf39 !important;
        padding: 1% 1%;
        width: 40%;
        margin: 0 2% 0 0;
    }



}

@media only screen and (min-device-width : 768px) and (max-device-width : 1366px) {


}
@media only screen and (min-device-width : 360px) and (max-device-width : 640px)  {
input[type="text"], input[type="url"], input[type="email"], input[type="password"], textarea {
    width: 85% !important;
}
input[type="file"] {
    max-width: 85% !important;
}

}
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {

.texticonselect {
    cursor: pointer;
    font-size: 16px;
    height: 18px;
    left: 10px;
    position: relative;
    top: -39px;
    vertical-align: sub;
    width: 18px;
    float: left;
}
input[type="file"] {
    max-width: 87% !important;
}

}

@media only screen and (min-device-width : 412px) and (max-device-width : 732px) {
#content-container select {
    display: block;
    width: 96% !important;
    margin: 15px 0;
    border-color: #05568B;
    border-radius: 3px;
}

}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .Approver {
    width: 35.8% !important;
}
  .inter {
    width: 35.8% !important;
}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
 

}
