.progressbar {
	background: #EAEAEA;
	/*border: 1px solid #111;*/	
	border-radius: 5px;	
	overflow: hidden;
	box-shadow: 3px 3px 3px #ccc;	
    font-size:14px !important;
    width:53%;
    float:right;
    margin-right:30px;
}
.progressbar div {
	background-color: #318bc7;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0099FF), to(#318bc7)); 
	background: -webkit-linear-gradient(top, #0099FF, #318bc7); 
	background: -moz-linear-gradient(top, #0099FF, #318bc7); 
	background: -ms-linear-gradient(top, #0099FF, #318bc7); 
	background: -o-linear-gradient(top, #0099FF, #318bc7);
    padding:5px 0 5px 0;
}