input, textarea {
	/* background: #dae1ed; */
	/*background: #e8e8e8;*/
	border-color: #05568b !important;
	border-radius: 3px 3px 0 0;
	border-style: none none solid;
	border-width: 0 0 2px;
	box-shadow: none !important;
	margin: 0px !important;
	padding: 0px !important;
}
.txtcls {
	width: 84% !important;
	height: 25px !important;
}
.select2-search__field {
	height: 27px !important;
}