<NewDataSet>
  <product>
    <productid>10262</productid>
    <categoryid>31</categoryid>
    <categoryname>Events</categoryname>
    <smallimage />
    <bigimage />
    <productname>Registrations are open  for ‘hcc Got Talent’ #ZGT </productname>
    <createdby>Kartik.jasani@hcccadila.com</createdby>
    <createdon>2016-09-17T07:21:27.913+05:30</createdon>
    <shortdescription>&lt;p&gt;Registrations are open&amp;nbsp; for &amp;lsquo;hcc Got Talent&amp;rsquo; #ZGT&lt;/p&gt;</shortdescription>
    <startdate>2016-09-17T00:00:00+05:30</startdate>
    <enddate>2017-01-31T23:59:59+05:30</enddate>
    <videoembed />
    <filename />
  </product>
  <product>
    <productid>10228</productid>
    <categoryid>31</categoryid>
    <categoryname>Events</categoryname>
    <smallimage />
    <bigimage />
    <productname>First Demo Launch of the Intranet as on 1st Sept 2016</productname>
    <createdby>intranet@creativewebmall.com</createdby>
    <createdon>2016-09-01T06:55:14.15+05:30</createdon>
    <shortdescription>&lt;p&gt;First Demo Launch of the Intranet as on 1st Sept 2016 data goes here.. First Demo Launch of the Intranet as on 1st Sept 2016 data goes here.. First Demo Launch of the Intranet as on 1st Sept 2016 data goes here.. First Demo Launch of the Intranet as on 1st Sept 2016 data goes here.. First Demo Launch of the Intranet as on 1st Sept 2016 data goes here.. First Demo Launch of the Intranet as on 1st Sept 2016 data goes here.. First Demo Launch of the Intranet as on 1st Sept 2016 data goes here.. First Demo Launch of the Intranet as on 1st Sept 2016 data goes here.. First Demo Launch of the Intranet as on 1st Sept 2016 data goes here..&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;First Demo Launch of the Intranet as on 1st Sept 2016 data goes here.. First Demo Launch of the Intranet as on 1st Sept 2016 data goes here.. First Demo Launch of the Intranet as on 1st Sept 2016 data goes here.. First Demo Launch of the Intranet as on 1st Sept 2016 data goes here.. First Demo Launch of the Intranet as on 1st Sept 2016 data goes here.. First Demo Launch of the Intranet as on 1st Sept 2016 data goes here.. First Demo Launch of the Intranet as on 1st Sept 2016 data goes here.. First Demo Launch of the Intranet as on 1st Sept 2016 data goes here.. First Demo Launch of the Intranet as on 1st Sept 2016 data goes here..&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;</shortdescription>
    <startdate>2016-09-01T00:00:00+05:30</startdate>
    <enddate>2017-01-31T23:59:59+05:30</enddate>
    <videoembed />
    <filename />
  </product>
</NewDataSet>