<!doctype html>
<html>
<head>
<meta charset="utf-8">

</head>

<body>
<div class="packagediv">
   	<div class="packages">
		<div class="maoviepackage">
       		<div class="moviepackagetop">
           		<div class="moviepackagefree">Free</div>
              	<!--<div><center><font size="3" color="#FFFFFF">$ 0</font></b></center></div>-->
                <div class="moviepackageprice"><img src='ReturnUrl("sitepath")images/rs.png' width="10" height="13" alt="Rs."/>0</div>
              	<div class="moviepackagefreebtn">
              		
                    <a href='ReturnUrl("sitepathmain")login'>Register
                    </a>
                </div>
          	</div>
            <div class="moviepackagetdetails">
            	<ul>
                	<li>Unlimited access to Free catalog.</li>
					<li>Watch anytime on Mobile, Tablet,  PC,  Mac, and TV.</li>
					<li>Made possible by advertisements.</li>
                </ul>
            </div>
            <div class="view-movie">
                <a class="view-movie-button" href='ReturnUrl("sitepathmain")search/free/F'>View Movies </a>
            </div>

        </div>
        <div class="maoviepackage">
       		<div class="moviepackagetop">
           		<div class="moviepackagepremium">Subscription</div>
                <!--<div><center><font size="3" color="#FFFFFF">$2.99</font></b></center></div>-->
              	<div class="moviepackageprice"><img src='ReturnUrl("sitepath")images/rs.png' width="10" height="13" alt="Rs."/> <% =this.pkgprice %>&nbsp;
                (<% =this.packagecnt %>&nbsp;<% =this.packagemonth %>)
                
                </div>
              	<div class="moviepackagepremiumbtn">
              		<a href='ReturnUrl("sitepathmain")subscribe'>Subscribe</a>
                </div>
          	</div>
            <div class="moviepackagetdetails">
                  	<ul>
                	<li>Unlimited access to Subscription catalog.</li>
   					<li>Watch anytime on Mobile, Tablet, PC, Mac, and TV.</li>
   					<li>No advertisements.</li>
           	  </ul>
           	</div>
            <div class="view-movie">
                <a class="view-movie-button" href='ReturnUrl("sitepathmain")search/subscribe/P'>View Movies </a>
            </div>
        </div>
        <div class="maoviepackage">
       		<div class="moviepackagetop">
           		<div class="moviepackagespecial">Pay Per View</div>
                <!--<div><center><font size="3" color="#FFFFFF">$0.49</font></b></center></div>-->
              	<div class="moviepackageprice">From<img src='ReturnUrl("sitepath")images/rs.png' width="10" height="13" alt="Rs."/><% =this.specprice%> per movie</div>
              	<div class="moviepackagespecialbtn">
              		 <a href='ReturnUrl("sitepathmain")login'>Pay</a>
                </div>
          	</div>
            <div class="moviepackagetdetails">
            	<ul>
                	<li>Pay-per-view access to Pay Per View catalog.</li>
  					<li>Watch within 72 hours on Mobile, Tablet, PC, Mac, and TV.</li>
  					<li>No advertisements.</li>
                </ul>
            </div>
            <div class="view-movie">
                <a class="view-movie-button" href='ReturnUrl("sitepathmain")search/payperview/S'>View Movies </a>
            </div>
        </div>
   	</div>
</div>

</body>
</html>
