body,html{height:100%}body{background:#FAF7F7;font-family: "pf_centro_sans_probold", sans-serif;text-rendering:optimizelegibility;font-weight:300;height:100%}form{height:100%; }.mainContainer{width:100%;max-width:100%;margin:68px auto 0;clear:none;z-index:1;height:auto;min-height:100%;}.categoryheading{text-align:center;font-size:28px;color:#fff;font-weight:700;float:left;width:99%}.categoryheading-home{text-align:left;font-size:28px;color:#646464;float:left;width:98%;margin:0 12px;padding:0 0 5px;text-transform:capitalize;font-weight:300}.breadcrumbdiv{width:1000px;margin:0 auto 10px;display:none}.breadcrumb{float:left;padding:5px;margin:1px 0;text-transform:capitalize;color:#000}.breadcrumb a:active,.breadcrumb a:link,.breadcrumb a:visited{font-size:12px;color:#000;text-decoration:none;padding:0 6px 0 0;text-transform:capitalize;float:left}.breadcrumb a:hover{color:#000;text-decoration:underline}.breadcrumb span{margin-right:5px;font-size:12px;float:left}.breadcrumb div{float:left}.productfeaturesdiv{background:#fff;float:left;width:100%;padding:10px 0}.checkoutpagediv{background:#fff;float:left;width:98%;padding:0 0 20px;margin:10px 0 0 10px}.wishlistpagediv{float:left;width:99%;padding:0 5px;margin:20px 0}.wishlistpage{width:950px;margin:0 auto}.tabscontainer{position:relative;float:left;margin:0 0 20px;width:100%;padding:0}#back-top{position:fixed;right:1px;z-index:999;bottom:55px;opacity: 0.9;}
                                                                                                                                                                .pstmsg{
 color:#000000 !important;
 font-size:13px !important;
 font-style:italic;
                                                                                                                                                                }    
                                                                                                                                                                .extimg{
 border-radius:0 0 !important;
 width:19px;
    } 
 
 a:active .extimg{
     text-decoration: none !important;
     color:#843719;
 }                                                                                                                                                               

 .grouprightpanel {
  float: right;
  margin: 0 0%;
  width: 67% !important;
}
 .groupleftpanel {
  float: left;
  margin: 1% 0 0 1%;
  width: 31%;
}
 
                                                                                                                                                                               .eventdate {
  border-right: 1px solid;
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
  text-transform: uppercase;
  width: 25px;
}                                                                                                                                                                                                                                    
                                                                                                                                                                    #back-top a {
  background-color: #843719;
  border-radius: 0%;/*wasim change border radius 5%   to 0  10 oct17*/
  bottom: 20px;
  box-sizing: content-box;
  color: #ffffff;
  display: block;
  font-size: 36px;
  font-weight: 700;
  height: 35px;
  outline: 0 none;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  transition: all 1s ease 0s;
  vertical-align: middle;
  width: 35px;
  z-index: 999;
  margin:20px;
}#back-top a:hover {
  background-color: #f28820;
  color: #ffffff !important; 
}
.fa.fa-angle-up {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.fixed {
  position: fixed;
  bottom:120px;
}
.fixed-right {
  position: fixed;
  bottom:120px;
  right:0px;
  width:24% !important;
}#back-top span{display:block;opacity:.8;padding:38px 0 0 35px;width:0;background:url(../themes/creative1.0/images/im-sprite-image.png) -640px -203px no-repeat;transition:all .3s ease 0s}#back-top a:hover span{opacity:1;border-radius:0px;/*wasim change border radius 25px   to 0  10 oct17*/transition:all .3s ease 0s}.autocomplete_completionListElement{margin:0!important;background-color:inherit;color:windowtext;border:buttonshadow;border-width:1px;border-style:solid;cursor:'default';overflow:auto;height:200px;font-family:Verdana;font-size:small;text-align:left;list-style-type:none}.autocomplete_highlightedListItem{background-color:#ff9;color:#000;padding:1px}.autocomplete_listItem{background-color:window;color:windowtext;padding:1px}.modalBackground{background:#FFF;-ms-filter:alpha(opacity=90);-ms-opacity:.9;opacity:.9}.maincatheading{float:left;margin-bottom:5px;padding:5px 0;text-align:center;width:100%;font-size:28px;color:#000;text-transform:uppercase}.maincatbanner{width:100%;margin:0 0 10px;background:#303030;float:left}.maincatbannerimage{width:950px;margin:0 auto 10px;padding:20px 0}.maincatbanner span{background:url(../../themes/creative1.0/images/bigimage/bigimgplaybtn.png) no-repeat;position:absolute;padding:32px;left:50%;top:13%}.maincatbanner img{width:auto;height:auto;-webkit-box-shadow:0 0 10px 5px rgba(0,0,0,1);-moz-box-shadow:0 0 10px 5px rgba(0,0,0,1);box-shadow:0 0 10px 5px rgba(0,0,0,1)}.noproavail{color:#646464;font-size:26px;text-align:left;width:950px;margin:20px auto}.noproavailmsg{font-size:17px;line-height:28px;margin:20px 0}.noproavailmsgsugg{font-size:22px;margin:20px 0 5px}.noproavailmsg ul{margin:10px 0 0;padding:0 15px}.noproavailmsg ul li{font-size:16px}.nomovieavail{width:100%;text-align:center;color:#646464;font-size:24px;float:left}.ntbmain{width:100%;float:left;background:#F1F1F1;}.staytuned{float:left;font-size:17px;color:#434343;text-align:center;width:100%;text-transform:uppercase;margin:10px 0 5px;font-family:Arial;font-weight:700;display:none}.comingsoon{float:left;font-size:14px;color:#afafaf;text-align:center;width:100%;margin:0 0 20px;display:none}.ac_results{background:#FFF!important;color:#000!important;height:auto!important;width:162px!important;cursor:pointer;border:1px solid #ccc;border-top:none;z-index:9999}.ac_results ul{max-height:150px!important;list-style:none!important;overflow:auto;padding:0;margin:0}.ac_results ul li{border-bottom:1px solid #eee;padding:6px 10px!important;font-size:12px}.ac_results ul li:last-child{border:none}.ac_results ul li:hover{color:#2e85dc!important}.ac_over{color:#2e85dc!important;background:#f5f5f5}.pnlbirth {
  float: right;
  margin: 0;
  width: 34%;
}.pnlbanner{width:66%;float:right;margin:1% 1% 0 0;}.pnlcategory{float:left;margin:1% 0 0 1%;width:31%;}
@media only screen and (max-width:1000px) and (min-width:240px){
	
.categoryheading-home{color:#fff;float:left;font-size:20px;font-weight:300;padding:0;margin:30px 0 0 0;text-align:left;text-transform:capitalize;width:100%}.categoryheading-home span{margin:0 0 0 15px}.maincatbanner{width:auto}.maincatbannerimage{width:auto;margin:0 auto;padding:10px}.maincatbanner img{height:auto;width:100%}.wishlistpagediv{width:auto;float:none}.wishlistpage{width:100%}.noproavail{width:auto;padding:20px 10px 0;float:left}#back-top{bottom:0px;}.nomovieavail{font-size:18px}.grouprightpanel {
  padding: 10px;
  width: 90% !important;
}}

@media only screen and (max-width:640px) and (min-width:240px)
{.pnlbirth{width:98%;}
	.pnlbanner{width:100%;}
	.pnlcategory{width:98%;}
	 .grouprightpanel {
  float: right;
  margin: 1% 1% 0 0;
  width: 100%;
}  
 
 .groupleftpanel {
  float: left;
  margin: 1% 0 0 1%;
  width: 98%;
}
	
}


@media only screen and (max-width:1000px) and (min-width:640px)
{.pnlbirth{width:98%;}
	.pnlbanner{width:100%;}
	.pnlcategory{width:98%;}
	 .grouprightpanel {
  float: right;
  margin: 1% 1% 0 0;
  width: 100%;
}  
 
 .groupleftpanel {
  float: left;
  margin: 1% 0 0 1%;
  width: 98%;
}
	
}





