USE [HRMS]
GO
/****** Object:  Table [dbo].[tbl_ExitProcClearanceDeptMappingMast]    Script Date: 2022-03-14 6:16:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ExitProcClearanceDeptMappingMast](
	[ClearanceDeptID] [int] IDENTITY(1,1) NOT NULL,
	[ClearanceDeptEmpCode] [varchar](10) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](10) NULL,
	[ModifyOn] [datetime] NULL,
	[ModifyBy] [varchar](10) NULL,
 CONSTRAINT [PK_tbl_ExitProcClearanceDeptMappingMast] PRIMARY KEY CLUSTERED 
(
	[ClearanceDeptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ExitProcClearanceDeptMast]    Script Date: 2022-03-14 6:16:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ExitProcClearanceDeptMast](
	[ClearanceDeptID] [int] NOT NULL,
	[ClearanceDeptDesc] [varchar](200) NOT NULL,
	[DeptID] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](10) NULL,
	[ModifyOn] [datetime] NULL,
	[ModifyBy] [varchar](10) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_ExitProcClearanceDeptMappingMast] ON 

INSERT [dbo].[tbl_ExitProcClearanceDeptMappingMast] ([ClearanceDeptID], [ClearanceDeptEmpCode], [IsActive], [CreatedOn], [CreatedBy], [ModifyOn], [ModifyBy]) VALUES (102, N'00630790', 1, CAST(N'2022-01-17T11:19:19.823' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[tbl_ExitProcClearanceDeptMappingMast] ([ClearanceDeptID], [ClearanceDeptEmpCode], [IsActive], [CreatedOn], [CreatedBy], [ModifyOn], [ModifyBy]) VALUES (103, N'00630452', 1, CAST(N'2022-01-17T11:20:04.087' AS DateTime), NULL, CAST(N'2022-03-02T21:05:02.763' AS DateTime), N'user.m1@hi')
INSERT [dbo].[tbl_ExitProcClearanceDeptMappingMast] ([ClearanceDeptID], [ClearanceDeptEmpCode], [IsActive], [CreatedOn], [CreatedBy], [ModifyOn], [ModifyBy]) VALUES (104, N'00630552', 1, CAST(N'2022-01-17T11:21:49.210' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_ExitProcClearanceDeptMappingMast] OFF
GO
INSERT [dbo].[tbl_ExitProcClearanceDeptMast] ([ClearanceDeptID], [ClearanceDeptDesc], [DeptID], [IsActive], [CreatedOn], [CreatedBy], [ModifyOn], [ModifyBy]) VALUES (101, N'Current Department', NULL, 1, CAST(N'2022-01-12T10:31:10.730' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[tbl_ExitProcClearanceDeptMast] ([ClearanceDeptID], [ClearanceDeptDesc], [DeptID], [IsActive], [CreatedOn], [CreatedBy], [ModifyOn], [ModifyBy]) VALUES (102, N'Administration Department', 8, 1, CAST(N'2022-01-12T10:31:41.823' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[tbl_ExitProcClearanceDeptMast] ([ClearanceDeptID], [ClearanceDeptDesc], [DeptID], [IsActive], [CreatedOn], [CreatedBy], [ModifyOn], [ModifyBy]) VALUES (103, N'IT Department', 2, 1, CAST(N'2022-01-12T10:31:58.877' AS DateTime), NULL, NULL, NULL)
GO
ALTER TABLE [dbo].[tbl_ExitProcClearanceDeptMappingMast] ADD  CONSTRAINT [DF_tbl_ExitProcClearanceDeptMappingMast_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[tbl_ExitProcClearanceDeptMast] ADD  CONSTRAINT [DF_tbl_ExitProcClearanceDeptMast_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
