USE [HRMS]
GO
/****** Object:  Table [dbo].[tbl_ExitProc_Approval_Matrix]    Script Date: 2022-03-07 11:55:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ExitProc_Approval_Matrix](
	[Appr_ID] [int] NULL,
	[Appr_Code] [varchar](50) NULL,
	[Is_Selected] [char](1) NULL,
	[Location] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ExitProc_ResignationDetails]    Script Date: 2022-03-07 11:55:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ExitProc_ResignationDetails](
	[ResignationID] [bigint] IDENTITY(1,1) NOT NULL,
	[EMPEXIT_ID] [int] NOT NULL,
	[EmpCode] [varchar](10) NOT NULL,
	[ResignationDate] [date] NULL,
	[LastWorkingDate] [date] NULL,
	[ReasonID] [int] NOT NULL,
	[Remarks] [varchar](500) NOT NULL,
	[StatusID] [int] NOT NULL,
	[FileName] [varchar](100) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[ReleaseDate] [datetime] NULL,
	[HrReleaseDate] [date] NULL,
 CONSTRAINT [PK_tbl_ExitProc_ResignationDetails] PRIMARY KEY CLUSTERED 
(
	[ResignationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ExitProcClearanceStatus]    Script Date: 2022-03-07 11:55:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ExitProcClearanceStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ResignationID] [bigint] NOT NULL,
	[EmpCode] [varchar](10) NOT NULL,
	[ClearanceDeptID] [int] NOT NULL,
	[Verify] [bit] NOT NULL,
	[VerifyBy] [varchar](10) NOT NULL,
	[VerifiedOn] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ExitProcSurveyUserDetails]    Script Date: 2022-03-07 11:55:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ExitProcSurveyUserDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpCode] [varchar](10) NOT NULL,
	[ResignationID] [bigint] NULL,
	[ExitSurveyQstID] [int] NULL,
	[ExitSurveyQstOptID] [int] NULL,
	[OptionResultValue] [int] NULL,
	[ExitSurveyTextAns] [varchar](1000) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [varchar](10) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](10) NULL,
 CONSTRAINT [PK_tbl_ExitProcSurveyUserDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_ExitProc_Approval_Matrix] ([Appr_ID], [Appr_Code], [Is_Selected], [Location]) VALUES (3, N'E1        ', N'Y', N'P-T-Arvind')
INSERT [dbo].[tbl_ExitProc_Approval_Matrix] ([Appr_ID], [Appr_Code], [Is_Selected], [Location]) VALUES (7, N'FH        ', N'N', N'P-F-Aparna')
INSERT [dbo].[tbl_ExitProc_Approval_Matrix] ([Appr_ID], [Appr_Code], [Is_Selected], [Location]) VALUES (11, N'GFH       ', N'N', N'P-T-SMART')
GO
SET IDENTITY_INSERT [dbo].[tbl_ExitProc_ResignationDetails] ON 

INSERT [dbo].[tbl_ExitProc_ResignationDetails] ([ResignationID], [EMPEXIT_ID], [EmpCode], [ResignationDate], [LastWorkingDate], [ReasonID], [Remarks], [StatusID], [FileName], [CreatedOn], [UpdatedOn], [ReleaseDate], [HrReleaseDate]) VALUES (1, 290, N'00630727', CAST(N'2022-01-28' AS Date), CAST(N'2022-02-06' AS Date), 6, N'Admin', 6, N'', CAST(N'2022-01-28T23:28:32.143' AS DateTime), CAST(N'2022-01-31T19:34:02.427' AS DateTime), NULL, NULL)
INSERT [dbo].[tbl_ExitProc_ResignationDetails] ([ResignationID], [EMPEXIT_ID], [EmpCode], [ResignationDate], [LastWorkingDate], [ReasonID], [Remarks], [StatusID], [FileName], [CreatedOn], [UpdatedOn], [ReleaseDate], [HrReleaseDate]) VALUES (3, 292, N'00630727', CAST(N'2022-01-31' AS Date), CAST(N'2022-04-30' AS Date), 1, N'vidhya comment', 4, N'', CAST(N'2022-01-31T21:02:04.730' AS DateTime), CAST(N'2022-01-31T21:40:41.167' AS DateTime), NULL, NULL)
INSERT [dbo].[tbl_ExitProc_ResignationDetails] ([ResignationID], [EMPEXIT_ID], [EmpCode], [ResignationDate], [LastWorkingDate], [ReasonID], [Remarks], [StatusID], [FileName], [CreatedOn], [UpdatedOn], [ReleaseDate], [HrReleaseDate]) VALUES (4, 293, N'00630727', CAST(N'2022-01-31' AS Date), CAST(N'2022-02-08' AS Date), 3, N'Admin', 2, N'', CAST(N'2022-01-31T21:42:56.377' AS DateTime), CAST(N'2022-02-01T01:23:31.930' AS DateTime), CAST(N'2022-02-08T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tbl_ExitProc_ResignationDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_ExitProcClearanceStatus] ON 

INSERT [dbo].[tbl_ExitProcClearanceStatus] ([ID], [ResignationID], [EmpCode], [ClearanceDeptID], [Verify], [VerifyBy], [VerifiedOn]) VALUES (1, 1, N'00630727', 101, 1, N'00630044', CAST(N'2022-01-31T15:49:21.943' AS DateTime))
INSERT [dbo].[tbl_ExitProcClearanceStatus] ([ID], [ResignationID], [EmpCode], [ClearanceDeptID], [Verify], [VerifyBy], [VerifiedOn]) VALUES (2, 1, N'00630727', 102, 0, N'00630790', CAST(N'2022-01-31T15:39:20.370' AS DateTime))
INSERT [dbo].[tbl_ExitProcClearanceStatus] ([ID], [ResignationID], [EmpCode], [ClearanceDeptID], [Verify], [VerifyBy], [VerifiedOn]) VALUES (3, 1, N'00630727', 103, 0, N'00630452', CAST(N'2022-01-31T15:39:34.550' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_ExitProcClearanceStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_ExitProcSurveyUserDetails] ON 

INSERT [dbo].[tbl_ExitProcSurveyUserDetails] ([ID], [EmpCode], [ResignationID], [ExitSurveyQstID], [ExitSurveyQstOptID], [OptionResultValue], [ExitSurveyTextAns], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (1, N'00630727', 1, 8, NULL, NULL, N'abc', CAST(N'2022-01-31T15:37:14.157' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[tbl_ExitProcSurveyUserDetails] ([ID], [EmpCode], [ResignationID], [ExitSurveyQstID], [ExitSurveyQstOptID], [OptionResultValue], [ExitSurveyTextAns], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (2, N'00630727', 1, 9, 1, 5, N'', CAST(N'2022-01-31T15:37:14.157' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[tbl_ExitProcSurveyUserDetails] ([ID], [EmpCode], [ResignationID], [ExitSurveyQstID], [ExitSurveyQstOptID], [OptionResultValue], [ExitSurveyTextAns], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (3, N'00630727', 1, 9, 2, 5, N'', CAST(N'2022-01-31T15:37:14.157' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_ExitProcSurveyUserDetails] OFF
GO
ALTER TABLE [dbo].[tbl_ExitProc_ResignationDetails] ADD  CONSTRAINT [DF_tbl_ExitProc_ResignationDetails_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[tbl_ExitProcClearanceStatus] ADD  CONSTRAINT [DF_tbl_ExitProcClearanceStatus_VerifiedOn]  DEFAULT (getdate()) FOR [VerifiedOn]
GO
ALTER TABLE [dbo].[tbl_ExitProcSurveyUserDetails] ADD  CONSTRAINT [DF_tbl_ExitProcSurveyUserDetails_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
