#loader {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 99999;
	/*background-color: #000;*/
	/*background: rgba(0, 0, 0, 0.5);*/
	background-color: rgba(255, 255, 255, 0.5);
	opacity: 1;
	text-align: center;
}

#loader .loaderContent {
	position: absolute;
	left: 50%;
	top: 35%;
	width: 100%;
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

#loader .loaderContent img {
	width: auto;
	max-width: 80%;
}

.DONot {
	top: -30%;
	font-size: 17px;
	color: #F28820;
	position: absolute;
}
