USE [HRMS]
GO
/****** Object:  Table [dbo].[tbl_ServiceRequestDetails]    Script Date: 01-02-2021 15:21:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ServiceRequestDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServicesRequestID] [nvarchar](20) NULL,
	[EmpCode] [nvarchar](10) NULL,
	[CreatedDate] [datetime] NULL,
	[ServicesDescripation] [nvarchar](max) NULL,
	[FilePath] [nvarchar](max) NULL,
	[AssignedTo] [nvarchar](10) NULL,
	[AssignedDate] [datetime] NULL,
	[Is_Escalated] [char](3) NULL,
	[ServiceDepartment] [int] NULL,
	[Status] [int] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ServiceRequestLog]    Script Date: 01-02-2021 15:21:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ServiceRequestLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServicesRequestID] [nvarchar](20) NULL,
	[ServiceDepartment] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ServicesDescripation] [nvarchar](max) NULL,
	[FilePath] [nvarchar](max) NULL,
	[AssignedTo] [nvarchar](10) NULL,
	[AssignedDate] [datetime] NULL,
	[ActionStatus] [int] NULL,
	[ActionBy] [nvarchar](10) NULL,
	[ActionDate] [datetime] NULL,
	[Escalation_Type] [char](4) NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ServiceStatus]    Script Date: 01-02-2021 15:21:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ServiceStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](100) NULL,
	[StatusTitle] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_SPOCDetail]    Script Date: 01-02-2021 15:21:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SPOCDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DEPT_ID] [int] NOT NULL,
	[SPOC_ID] [nvarchar](10) NOT NULL,
	[AUTO_ESCALATION] [int] NULL,
	[USER_ESCALATION] [int] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_SPOCDetail] PRIMARY KEY CLUSTERED 
(
	[DEPT_ID] ASC,
	[SPOC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

GO
SET IDENTITY_INSERT [dbo].[tbl_ServiceStatus] ON 

INSERT [dbo].[tbl_ServiceStatus] ([Id], [StatusName], [StatusTitle], [CreatedDate]) VALUES (1, N'Pending', N'Created', CAST(N'2021-01-18T17:48:39.380' AS DateTime))
INSERT [dbo].[tbl_ServiceStatus] ([Id], [StatusName], [StatusTitle], [CreatedDate]) VALUES (2, N'Pending', N'Assigned', CAST(N'2021-01-18T17:48:39.380' AS DateTime))
INSERT [dbo].[tbl_ServiceStatus] ([Id], [StatusName], [StatusTitle], [CreatedDate]) VALUES (3, N'Closed', N'Closed', CAST(N'2021-01-18T17:48:39.380' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_ServiceStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_SPOCDetail] ON 

INSERT [dbo].[tbl_SPOCDetail] ([ID], [DEPT_ID], [SPOC_ID], [AUTO_ESCALATION], [USER_ESCALATION], [CreatedDate]) VALUES (1, 2, N'00630622', 1, 3, NULL)
INSERT [dbo].[tbl_SPOCDetail] ([ID], [DEPT_ID], [SPOC_ID], [AUTO_ESCALATION], [USER_ESCALATION], [CreatedDate]) VALUES (4, 8, N'00630593', 2, 3, NULL)
INSERT [dbo].[tbl_SPOCDetail] ([ID], [DEPT_ID], [SPOC_ID], [AUTO_ESCALATION], [USER_ESCALATION], [CreatedDate]) VALUES (2, 10, N'00630044', 2, 3, NULL)
SET IDENTITY_INSERT [dbo].[tbl_SPOCDetail] OFF
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTSERVICE_REQUEST]    Script Date: 01-02-2021 15:21:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*  
  Desciption :-   
*/  
CREATE PROC [dbo].[SP_INSERTSERVICE_REQUEST] --1,1,'2017-11-23','2017-11-23','official','12443',1,2500,'NA','Insert'      
 @qtype VARCHAR(25) = null,    
 @id INT =NULL,    
 @Services_Request_ID nvarchar(20)=NULL,    
 @emp_code NVARCHAR(10) =NULL,      
 @ServicesDescripation NVARCHAR(MAX) = NULL,      
 @FilePath varchar(500)= NULL,      
 @AssignedTo NVARCHAR(10) = NULL,    
 @ActionBy NVARCHAR(10) = NULL,    
 @Is_Escalated CHAR(3) = NULL,      
 @ServiceDepartment INT = NULL,      
 @Status INT = NULL,    
 @ActionStatus INT = NULL,    
 @Escalation_Type CHAR(4)=NULL    
 AS      
BEGIN      
   declare @maxRemid Numeric(18,0)      
   declare @ServicesRequestID nvarchar(20) = NULL      
   declare @CreatedDate DATETIME = NULL     
   declare @empcode NVARCHAR(10) =NULL    
   declare @departmentCode int =NULL    
   IF(@qtype='Insert')     
   BEGIN       
     set @maxRemid=(select ISNULL(max(Id+1),1) AS Rem_id from tbl_ServiceRequestDetails)      
     set @ServicesRequestID = CONCAT('SR/', format(CAST(GETDATE() as date),'MM-yyyy'),'/', right('000000'+convert(varchar(20),@maxRemid),6))      
         
  INSERT INTO tbl_ServiceRequestDetails(ServicesRequestID,EmpCode,CreatedDate,ServicesDescripation,FilePath,AssignedTo,AssignedDate,Is_Escalated,ServiceDepartment,[Status],UpdatedDate) output INSERTED.Id  
  VALUES (@ServicesRequestID,@emp_code,GETDATE(),@ServicesDescripation,@FilePath,@AssignedTo,GETDATE(),@Is_Escalated,@ServiceDepartment,@Status,GETDATE())      
 --Insert Log    
    INSERT INTO tbl_ServiceRequestLog(ServicesRequestID,ServiceDepartment,CreatedDate,ServicesDescripation,FilePath,AssignedTo,AssignedDate,ActionStatus,ActionBy,ActionDate,Escalation_Type,UpdatedDate)      
    VALUES (@ServicesRequestID,@ServiceDepartment,GETDATE(),@ServicesDescripation,@FilePath,@AssignedTo,GETDATE(),@Status,@ActionBy,GETDATE(),NULL,GETDATE())     
 --End    
       SELECT @maxRemid as maxRemid, 'Service Request submitted successfully' as 'Message'      
          
      End      
   ELSE IF(@qtype='UpdateAction')    
   BEGIN    
  SET @CreatedDate=(select CreatedDate from tbl_ServiceRequestDetails WHERE Id=@id)    
  SET @empcode=(SELECT EmpCode From tbl_ServiceRequestDetails WHERE Id=@id)    
  SET @ServicesRequestID=(SELECT ServicesRequestID From tbl_ServiceRequestDetails WHERE Id=@id)    
  SET @departmentCode=(SELECT dept_id From tbl_Employee_Mst WHERE Emp_Code=@AssignedTo)    
  UPDATE tbl_ServiceRequestDetails SET ServiceDepartment=@ServiceDepartment, [STATUS]=@Status,AssignedTo=@AssignedTo,AssignedDate=GETDATE(),UpdatedDate=GETDATE() WHERE Id=@id    
        --UPDATE tbl_ServiceRequestDetails SET [STATUS]=@Status,UpdatedDate=GETDATE() WHERE Id=@id    
            
        INSERT INTO tbl_ServiceRequestLog(ServicesRequestID,ServiceDepartment,CreatedDate,ServicesDescripation,FilePath,AssignedTo,AssignedDate,ActionStatus,ActionBy,ActionDate,Escalation_Type,UpdatedDate)      
        VALUES (@ServicesRequestID,@ServiceDepartment,@CreatedDate,@ServicesDescripation,@FilePath,@AssignedTo,GETDATE(),@ActionStatus,@ActionBy,GETDATE(),NULL,GETDATE())     
   END    
   ELSE IF(@qtype='EscalatedAction')    
   BEGIN    
   set @CreatedDate=(select CreatedDate from tbl_ServiceRequestDetails WHERE Id=@id)    
    UPDATE tbl_ServiceRequestDetails SET [STATUS]=@Status,AssignedTo=@AssignedTo,AssignedDate=GETDATE(),UpdatedDate=GETDATE(),Is_Escalated=@Is_Escalated WHERE Id=@id    
            
    INSERT INTO tbl_ServiceRequestLog(ServicesRequestID,ServiceDepartment,CreatedDate,ServicesDescripation,FilePath,AssignedTo,AssignedDate,ActionStatus,ActionDate,Escalation_Type,UpdatedDate)      
        VALUES (@Services_Request_ID,@ServiceDepartment,@CreatedDate,@ServicesDescripation,@FilePath,@AssignedTo,GETDATE(),@ActionStatus,GETDATE(),@Escalation_Type,GETDATE())     
   END      
   ELSE IF(@qtype='GETSPOCDETAIL')    
   BEGIN    
     Select * FROM tbl_SPOCDetail WHERE DEPT_ID=@id    
   END    
   ELSE IF(@qtype='GETSERVICEDETAILBYID_ID')    
   BEGIN    
     Select * FROM tbl_ServiceRequestDetails WHERE Id=@id    
   END   
   ELSE IF(@qtype='GETEMPSERVICELIST')    
   BEGIN    
     SELECT SRD.Id, SRD.ServicesRequestID,CONVERT(NVARCHAR(19),    
   SRD.CreatedDate,27) AS ServiceRequestDate,    
   EMP.Emp_Name AS EmployeeName,    
   (EMP1.first_name+' '+ EMP1.last_name )AS AssignedTo,    
   CONVERT(NVARCHAR(19),SRD.AssignedDate,27) AS AssignmentDate,    
    ST.StatusName As [Status]    
   FROM tbl_ServiceRequestDetails SRD    
   --JOIN tbl_ServiceRequestDetails SR ON SR.ServicesRequestID=SRD.ServicesRequestID  
   JOIN tbl_Employee_Mst EMP ON SRD.EmpCode=EMP.Emp_Code    
   JOIN tbl_Employee_Mst EMP1 ON SRD.AssignedTo=EMP1.Emp_Code  
   JOIN tbl_ServiceStatus ST ON ST.Id=SRD.[Status]  
   WHERE SRD.[Status]!=3 AND SRD.AssignedTo=@emp_code order by SRD.CreatedDate ASC  
   END    
   ELSE IF(@qtype='GETMYSERVICELIST')    
   BEGIN    
     SELECT DISTINCT SRD.Id, SRD.ServicesRequestID,CONVERT(NVARCHAR(19),    
   SRD.CreatedDate,27) AS ServiceRequestDate,    
   EMP.Emp_Name AS EmployeeName,    
   (EMP1.first_name+' '+ EMP1.last_name )AS AssignedTo,    
   CONVERT(NVARCHAR(19),SRD.AssignedDate,27) AS AssignmentDate,    
   (SELECT StatusName FROM tbl_ServiceStatus WHERE Id=SRD.Status) As [Status]    
   FROM tbl_ServiceRequestDetails SRD    
   --RIGHT JOIN tbl_ServiceRequestLog SRD1 ON SRD1.ServicesRequestID=SRD.ServicesRequestID  
   JOIN tbl_Employee_Mst EMP ON SRD.EmpCode=EMP.Emp_Code    
   LEFT JOIN tbl_Employee_Mst EMP1 ON SRD.AssignedTo=EMP1.Emp_Code    
  WHERE SRD.EmpCode=@emp_code GROUP BY SRD.Id, SRD.ServicesRequestID,  
  SRD.CreatedDate,EMP.Emp_Name,EMP1.first_name,EMP1.last_name,SRD.AssignedDate,SRD.Status  
    
   END    
   ELSE IF(@qtype='GETDDLFORSERVICECREATE')    
   BEGIN    
    SELECT DISTINCT EM.Emp_Code,(EM.first_name+' '+EM.last_name) AS EmployeeName   
 FROM tbl_Employee_Mst EM  
 LEFT JOIN tbl_SPOCDetail SP ON SP.SPOC_ID=em.Emp_Code  
    WHERE emp_status='Onboard' AND EM.dept_id=@ServiceDepartment    
     --SELECT Dm.Department_id As DepartmentId,DM.Department_Name AS DepartmentName,SPO.SPOC_ID AS SPOCID    
     --FROM tblDepartmentMaster DM    
     --JOIN tbl_SPOCDetail SPO ON SPO.DEPT_ID=DM.Department_id    
   END  
   ELSE IF(@qtype='DDLDEPARTMENT')    
   BEGIN    
      
     SELECT Dm.Department_id As DepartmentId,DM.Department_Name AS DepartmentName,SPO.SPOC_ID AS SPOCID    
     FROM tblDepartmentMaster DM    
     JOIN tbl_SPOCDetail SPO ON SPO.DEPT_ID=DM.Department_id    
   END 
   ELSE IF(@qtype='GETApprovelPageDetail')    
   BEGIN    
     SET @empcode=(SELECT EmpCode From tbl_ServiceRequestDetails WHERE Id=@id);    
  SET @ServicesRequestID=(SELECT ServicesRequestID From tbl_ServiceRequestDetails WHERE Id=@id);    
  SET @departmentCode=(SELECT ServiceDepartment From tbl_ServiceRequestDetails WHERE Id=@id);    
  --Table 0 Employee Detail    
  SELECT EMP.Emp_Name,EMP.Emp_Emailaddress,EMP.Designation,EMP.Department,EMP.Emp_Code,EMP.mobile  FROM tbl_Employee_Mst EMP WHERE Emp_Code=@empcode;    
  --Table 1 Service Request History    
  -- SELECT SRL.Id, SS.StatusTitle AS StatusName,    
  -- CONVERT(NVARCHAR(19),SRL.AssignedDate,27) AS ReceivedDate,    
  -- (em.first_name+' '+em.last_name) As ActionBy,    
  -- CONVERT(NVARCHAR(19),SRL.ActionDate,27) AS ActionDate,  
  -- CONVERT(NVARCHAR(19),AssignedDate,27) AS AssignedDate,
	 --em1.Emp_Name AS AssignedBY,
  -- SRL.ServiceDepartment,SRL.ServicesDescripation,SRl.ServicesRequestID,SRL.FilePath    
  -- FROM tbl_ServiceRequestLog SRL    
  -- JOIN tbl_ServiceStatus SS on SS.Id=SRL.ActionStatus    
  --LEFT JOIN tbl_Employee_Mst Em ON em.Emp_Code=SRL.ActionBy
  --LEFT JOIN tbl_Employee_Mst Em1 ON em1.Emp_Code=SRL.AssignedTo
  -- WHERE ServicesRequestID=@ServicesRequestID  order by UpdatedDate ASC  
   WITH Sorted AS
   (
    SELECT ROW_NUMBER() OVER(ORDER BY ActionDate) AS Nr,
	SRL.Id, SS.StatusTitle AS StatusName,    
   CONVERT(NVARCHAR(19),SRL.AssignedDate,27) AS ReceivedDate,    
   (em.first_name+' '+em.last_name) As ActionBy,    
   CONVERT(NVARCHAR(19),SRL.ActionDate,27) AS ActionDate,  
   CONVERT(NVARCHAR(19),AssignedDate,27) AS AssignedDate,
   em1.Emp_Name AS AssignedBY,
   SRL.ServiceDepartment,SRL.ServicesDescripation,SRl.ServicesRequestID,SRL.FilePath    
   FROM tbl_ServiceRequestLog SRL    
   JOIN tbl_ServiceStatus SS on SS.Id=SRL.ActionStatus    
   LEFT JOIN tbl_Employee_Mst Em ON em.Emp_Code=SRL.ActionBy
   LEFT JOIN tbl_Employee_Mst Em1 ON em1.Emp_Code=SRL.AssignedTo   
   where SRL.ServicesRequestID=@ServicesRequestID --and SRL.ActionDate IS NOT NULL
   )
   SELECT s.id,s.StatusName,ActionBy,AssignedBY,AssignedDate,
  (SELECT prev.AssignedDate FROM Sorted AS prev WHERE s.Nr=prev.Nr+1) AS ReceivedDate
	 ,s.ActionDate,ServiceDepartment,ServicesDescripation,ServicesRequestID,FilePath
  FROM sorted AS s WHERE s.ReceivedDate IS NOT NULL;

   --Table 2 DepartMent Detail   
   SELECT Dm.Department_id As DepartmentId,DM.Department_Name AS DepartmentName,SPO.SPOC_ID AS SPOCID    
     FROM tblDepartmentMaster DM    
     JOIN tbl_SPOCDetail SPO ON SPO.DEPT_ID=DM.Department_id;      
   --Table 3 Service Request Details    
   SELECT * From tbl_ServiceRequestDetails WHERE Id=@id;    
   --- Table 
   END    
   ELSE IF(@qtype='GETEMPDEPT')    
   BEGIN    
     Select Department FROM tbl_Employee_Mst WHERE Emp_Code=@emp_code    
   END  
   ELSE IF(@qtype='GETDEPTHOD')    
   BEGIN    
		SET @empcode=(SELECT EmpCode From tbl_ServiceRequestDetails WHERE Id=@id)  
		SET @departmentCode=(SELECT ServiceDepartment From tbl_ServiceRequestDetails WHERE Id=@id)
		select Emp_Code,Emp_Name,Emp_Emailaddress from tbl_Employee_Mst where (dept_id=@departmentCode OR dept_id=10) AND Designation like 'Head%'
   END 
   ELSE IF(@qtype='GETCEO')    
   BEGIN    
		select Emp_Code,Emp_Name,Emp_Emailaddress from tbl_Employee_Mst where Designation like '%CEO%'
   END 
   ELSE IF(@qtype='GETSERVICEHISTORY')    
   BEGIN    
     Select CONVERT(NVARCHAR(19),ActionDate,27) AS ActionDate,
	 Id,
	 ServicesDescripation,
	 FilePath,ServicesRequestID, 
	 CONVERT(NVARCHAR(19),AssignedDate,27) AS AssignedDate,
	 em.Emp_Name AS AssignedBY
	 FROM tbl_ServiceRequestLog SRL
	 JOIN tbl_Employee_Mst EM ON em.Emp_Code=SRL.AssignedTo
	 WHERE Id=@id    
   END    
   ELSE IF(@qtype='GETSPOCDETAILS')    
   BEGIN    
		IF EXISTS(select SPOC_ID from tbl_SPOCDetail where SPOC_ID = @emp_code)  
		BEGIN  
			SELECT 'YES' AS [Message]  
		END  
		ELSE  
		BEGIN  
			SELECT 'NO' AS [Message]  
		END    
   END  
   ELSE IF(@qtype='EscalatedUSER')    
   BEGIN    
		  SET @CreatedDate=(select CreatedDate from tbl_ServiceRequestDetails WHERE Id=@id)    
		  SET @empcode=(SELECT EmpCode From tbl_ServiceRequestDetails WHERE Id=@id)    
		  SET @ServicesRequestID=(SELECT ServicesRequestID From tbl_ServiceRequestDetails WHERE Id=@id)    
		  SET @departmentCode=(SELECT dept_id From tbl_Employee_Mst WHERE Emp_Code=@AssignedTo)    
		  UPDATE tbl_ServiceRequestDetails SET ServiceDepartment=@ServiceDepartment,Is_Escalated='YES',[STATUS]=@Status,AssignedTo=@AssignedTo,AssignedDate=GETDATE(),UpdatedDate=GETDATE() WHERE Id=@id    
		
				INSERT INTO tbl_ServiceRequestLog(ServicesRequestID,ServiceDepartment,CreatedDate,ServicesDescripation,FilePath,AssignedTo,AssignedDate,ActionStatus,ActionBy,ActionDate,Escalation_Type,UpdatedDate)      
				VALUES (@ServicesRequestID,@ServiceDepartment,@CreatedDate,@ServicesDescripation,@FilePath,@AssignedTo,GETDATE(),@ActionStatus,@ActionBy,GETDATE(),'USER',GETDATE())     
   END    
   ELSE IF(@qtype='EscalatedAUTO')    
   BEGIN    
		  SET @CreatedDate=(select CreatedDate from tbl_ServiceRequestDetails WHERE Id=@id)   
		   
		  UPDATE tbl_ServiceRequestDetails SET ServiceDepartment=@ServiceDepartment,Is_Escalated='YES',[STATUS]=@Status,AssignedTo=@AssignedTo,AssignedDate=GETDATE(),UpdatedDate=GETDATE() WHERE Id=@id    
		
		INSERT INTO tbl_ServiceRequestLog(ServicesRequestID,ServiceDepartment,CreatedDate,ServicesDescripation,FilePath,AssignedTo,AssignedDate,ActionStatus,ActionBy,ActionDate,Escalation_Type,UpdatedDate)      
		VALUES (@Services_Request_ID,@ServiceDepartment,@CreatedDate,@ServicesDescripation,@FilePath,@AssignedTo,GETDATE(),@ActionStatus,@ActionBy,GETDATE(),'AUTO',GETDATE())     
   END   
   --Auto Excalated
   ELSE IF(@qtype='GETAllPENDINGSERVICES')    
   BEGIN    
     Select * FROM tbl_ServiceRequestDetails WHERE [Status]!=3   
   END 
   ELSE IF(@qtype='GETDEPARTMENTBYID')    
   BEGIN    
      
     SELECT Dm.Department_id As DepartmentId,DM.Department_Name AS DepartmentName,SPO.SPOC_ID AS SPOCID    
     FROM tblDepartmentMaster DM    
     JOIN tbl_SPOCDetail SPO ON SPO.DEPT_ID=DM.Department_id   
	 WHERE dm.Department_id=@ServiceDepartment
   END 
   ELSE    
   BEGIN    
      SELECT 'No Action Found' as [Message]    
   END    
END 

--select * from tbl_ServiceStatus
GO
